{{#each listTokens}}
  {{#each tokens}}
    <div class="cbp-item {{{../city}}}">
      <a href="#" target="_blank" >
        <div class="c-content-product-2 c-bg-white">
        <div class="c-content-overlay">
          <div class="c-label c-bg-green c-font-white c-font-13 c-font-bold">{{{../cityName}}}</div>
          <div class="c-label c-label-right c-bg-red c-font-white c-font-13 c-font-bold">0.2 ETH</div>
          <div class="c-overlay-wrapper">
            <div class="c-overlay-content">
              <a href="details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Buy</a>
            </div>
          </div>
          <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=40.7195,-73.9990&zoom=18&size=300x300&maptype=roadmap&markers=color:blue%7Clabel:C%7C40.7195,-73.9990&key=AIzaSyCHjhyaWs-swqQAPOU6e7i6buEE2boXG0A);"></div>
        </div>

        </div>
        <div class="cbp-l-grid-agency-title">GeoID:({{{lon}}}, {{{lat}}})</div>
        <div class="cbp-l-grid-agency-desc">Reproducible - Fast</div>
      </a>
    </div>
  {{/each}}
{{/each}}